.jumbo
  %h1 Games
  %a{:href=>"/games/jeopardy/js_jeopardy"} 
    %button Jeopardy
  %a{:href=>"/games/kat_sutra/kat_sutra"}
    %button Kat Sutra
%br
%br
%h3 powered by gambit (c)2014 Ashley Williams & Gustavo Guimaraes