%a{:href=>"/"} 
  %button Return to Games Page
%h1 Jeopardy
.board
  - @cards.collect { |card| card.category }.uniq!.each do |category|
    .card.col6.cat-card
      .cat
        = category
  - @cards.each do |card|
    = partial :card, @card=card
= partial :scoreboard

%footer
  %div
  
%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/gusJeopardy.js"}
%script{:src=>"/trebek.js"}