%link{:href=>"/kat_sutra.css", :rel=>"stylesheet"}
%a{:href=>"/"} 
  %button Return to Games Page
%h1 Kat Sutra Memory Game
%h3 Learn the art of love-making from these cute creatures
%p Match all the pictures for a better look at the background kitty.

.board
  - @cards.each do |card|
    = partial :kat_sutra_card, @card=card

%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script{:src=>"/kat_sutra.js"}