body {
  font-family: 'Overlock', 'Helvetica', 'Arial', sans-serif;
  background: pink url(/img/cute.jpg) no-repeat top center;
}

h3 {
  color: white;
}
.faceDown img {
  width: 53%;
}

.faceUp img {
  width: 60%;
}

.faceDown, .faceUp {
  width: 100%;
  position: absolute;
}

.num, .faceUp, .end{
  display: none; /* hide faceUp and answer */
}
